<head>
    <style>
        .container {
            width: 100%;
            min-height: 100vh;
            display: block;
        }

        .forma {
            height: 300px;
            display: block;
            justify-content: space-between;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var serviceUrl = "Home/GetData";

            console.log("YAY");

            setInterval(function () {
                console.log("sad saljem ajax poziv");
                $.ajax({
                    type: 'GET',
                    url: serviceUrl,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data, status) {

                        console.log(data);

                        $(".aktivni").html(kreirajTabelu(data.aktivni, false));

                        $(".istorija").html(kreirajTabelu(data.istorija, true));
                    },
                    error: function () {

                        alert("error");
                    }
                })
            }, 1000 * 60 * 1);
            //milisec * sec * min


            function kreirajTabelu(data, istorijski) {
                var table = "<table><tr> <th> Device id</th> <th>Time in warehouse (hours)</th> <th>Work hours</th> <th>Remont number</th> <th>Send to remont </th>";

                if (istorijski) {
                    table += "<th>Remont time (minutes)</th>";
                }

                table += "</tr>";
                console.log(data);

                for (let remont of data) {
                    console.log(remont);
                    table += "<tr><td>" + remont.deviceId + "</td>";
                    table += "<td>" + remont.hoursInWarehouse + "</td>";
                    table += "<td>" + remont.workHours + "</td>";
                    table += "<td>" + remont.numberOfRemont + "</td>";
                    table += "<td>" + remont.sendToRemont + "</td>";

                    if (istorijski) {
                        table += "<td>" + remont.timeSpentInRemont + "</td>";
                    }

                    table += "</tr>";
                }

                table += "</table>";

                return table;
            }
        })
    </script>
</head>
<body>
    <div class="container">
        @if (ViewData["Title2"] != null && ViewData["Title"] == null)
        {
            <h3 style="color:red">@ViewData["Title2"]</h3>
        }

        @if (ViewData["Title2"] == null && ViewData["Title"] != null)
        {
            <h3 style="color:lime">@ViewData["Title"]</h3>
        }

        <div class="forma">
            <form method="post" action="/Home/Submit">

                <label>Izaberite uredjaj za remont</label>
                <select style="width:250px;height:40px" required name="device">
                    <option value="1">Uredjaj 1</option>
                    <option value="2">Uredjaj 2</option>
                    <option value="3">Uredjaj 3</option>
                    <option value="4">Uredjaj 4</option>
                    <option value="5">Uredjaj 5</option>
                    <option value="6">Uredjaj 6</option>
                    <option value="7">Uredjaj 7</option>
                    <option value="8">Uredjaj 8</option>
                </select>
                <br /><br />
                <input type="number" min="0" required name="timeInWarehouse" placeholder="Vreme provedeno u magacinu (sati)" style="width:300px;height:40px" />
                <br /><br />
                <input type="number" min="0" required name="workHours" placeholder="Vreme eksploatacije (sati)" style="width:300px;height:40px" />
                <br /><br />
                <input type="submit" value="Posalji na remont" style="height:30px" />
            </form>
        </div>

        <br /><br />
        <h3>Aktivni</h3>
        <div class="aktivni">

        </div>

        <hr />

        <h3>Istorija</h3>
        <div class="istorija">

        </div>
    </div>

</body>