<head>
    <style>
        .container {
            width: 100%;
            min-height: 100vh;
            display: block;
        }

        .forma {
            height:300px;
            display:block;
            justify-content:space-between;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="container">
        @if (ViewData["Title2"] != null && ViewData["Title"] == null)
        {
            <h3 style="color:red">@ViewData["Title2"]</h3>
        }

        @if (ViewData["Title2"] == null && ViewData["Title"] != null)
        {
            <h3 style="color:lime">@ViewData["Title"]</h3>
        }

        <div class="forma">
            <form method="post" action="/Home/Submit">

                <label>Izaberite uredjaj za remont</label>
                <select style="width:250px;height:40px" required name="device">
                    <option value="1">Uredjaj 1</option>
                    <option value="2">Uredjaj 2</option>
                    <option value="3">Uredjaj 3</option>
                    <option value="4">Uredjaj 4</option>
                </select>
                <br /><br />
                <input type="number" min="0" required name="timeInWarehouse" placeholder="Vreme provedeno u magacinu (sati)" style="width:300px;height:40px" />
                <br /><br />
                <input type="number" min="0" required name="workHours" placeholder="Vreme eksploatacije (sati)" style="width:300px;height:40px" />
                <br /><br />
                <input type="submit" value="Posalji na remont" style="height:30px" />
            </form>
        </div>

        <br /><br />
        <h3>Aktivni</h3>
        <div class="aktivni">
            <table>
                <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                </tr>
            </table>
        </div>

        <hr />

        <h3>Istorija</h3>
        <div class="istorija">
            <table>
                <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                </tr>
            </table>
        </div>
    </div>

</body>